body{
	background-color:#cecece;
}

.site{
	a:hover{
		text-decoration: none;
	}
}

.navbar{
	background-color:#feff6e;
	.active a{
		background-color:#ff8686 !important;
	}
}

.site-container{
	padding-top:5%;
	height: 200%;
}

.strip{
	width: 150px !important;
	height: 160px !important;
	float: left;
	padding: 10px;
	margin-right: 10px;
	img{
		width: 140px !important;
		height: 140px !important;
	}
}

.signed-word{
	text-align: center;
	visibility: hidden;
}

.inverted{
	visibility: hidden;
	margin-left: -150px;
	background-color:red;
}

.panel{
	width: 40%;
	margin: 0 auto;
	margin-bottom:1%;
}

.sign-letters{
	margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.middle-button{
	margin-left: 47%;
    text-decoration: none !important;
}


.footer{
	visibility: hidden;
	height: 40%;
	width: 100%;
	background-color: #80f980;
	margin-top: 5%;
	.footer-list{
		width: 25%;
		padding-left: 10%;
		ul li{
			padding-top: 10%;
			list-style: none;	
			a{
				color:white;
			}
			a:hover{
			 	text-decoration: none;
			  	font-weight: bold;
			}
		}
	}
}

.game-panel{
	position:absolute;
	margin-left: 75%;
	margin-top: -25%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px;
	padding: 10px;
}

.carousel-inner{
	.item{ 
		height: 40%;
		img{
			margin-left: 35%;
			height: 90%;
		}
		.item-details{
			  margin-left: 50%;
			  text-decoration: none;
			  font-weight: bold;
			  font-size: 1.5em;
		}

	.container{
		width:100% !important;
			.carousel-caption{
				background-color: black !important;
				position: relative !important;
				width: 100% !important;
				left: 0px !important;
				right: 0px !important;
			}
		}	
	}
}

.play-game{
	margin-left: 47%;
	margin-top: 2%;
}

.row{
	.middle{
		margin-left:25%;
	}
	.img-circle{
		height: 300px;
	}
	.meet-devs{
		margin-top: 400px;
	}
}

@media screen and (max-width: 1400px) {
  	.panel{
		width: 55%;
	}

	.game-panel{
		margin-left: 85%;
	}

	.carousel-inner{
	.item{ 
		height: 40%;
			img{
				margin-left: 37.5%;
				height: 80%;
			}
		}
	}

}